{
  "semi": false,
  "singleQuote": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "printWidth": 150,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always"
}
