* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .search_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50px;
    background-color: #fff;
    border-radius: 5px;

    .search_input {
      padding: 5px;
      width: 80%;
      height: 80%;
      border: none;
      margin-right: 5px;
      border-radius: 5px;
      background-color: rgba(161, 159, 159, 0.527);
    }
    .search_input:focus {
      outline: none;
      border-bottom: 1px solid rgba(0, 255, 255, 0.445);
    }
    .search_btn {
      width: 10%;
      height: 80%;
      background-color: rgba(145, 68, 246, 0.63);
      outline: none;
      border: none;
      cursor: pointer;
      border-radius: 50%;
    }
  }

  .summoner_info_container {
    background-color: #bebebe49;
    width: 80%;
    border-radius: 4px;
    min-height: 70vh;
    margin-top: 50px;
    .summoner_card {
      padding: 10px;
      height: 165px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin: 10px;
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid #cdd2d2;

      .emblem_box {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        img {
          height: 150px;
        }
      }
      .info_box {
        width: 50%;

        .info_data {
          padding: 5px;
        }
      }
    }

    .match_container {
      display: flex;
      width: 100%;
      .most_champ_box {
        width: 30%;
      }
      .match_list_box {
        width: 70%;
        padding: 8px;
      }
    }
  }
}
